@model Mabooking.Models.Entities.Routs

@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_MyLayout.cshtml";
}

<form action="~/AdminPanel/Routs/Edit" method="post">
    <div>Serial No</div>
    <input type="text" name="Id" value="@Model.Id" />
    <div> <br /> </div>

    <table>
        <tr>
            <td>ّFlight No</td>
            <td><input type="text" name="FlightNumber" value="@Model.FlightNumber" /></td>
        </tr>
        <tr>
            <td>از</td>
            <td><input type="text" name="Origin" value="@Model.Origin" /></td>
        </tr>
        <tr>
            <td>به</td>
            <td><input type="text" name="Destination" value="@Model.Destination" /></td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Back to List", "Index")</td>
            <td><input type="submit" value="ثبت" /></td>
           
        </tr>
    </table>
</form>



