@model IEnumerable<Mabooking.Models.Entities.FlightsSchedule>
@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_MyLayout.cshtml";
}

<a class="one" href="/AdminPanel/FlightSchedule/Create">Add new</a>
<table>
    <tr>
        <th hidden>1</th>
        <th>FltCapVol</th>
        <th>FltCapWeight</th>
        <th>Routs_Id</th>
        <th>FltDate</th>
        <th>FltReg</th>
        <th>FltCapWeight</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td hidden>@item.id</td>
            <td>@item.FltCapVol</td>
            <td>@item.FltCapWeight</td>
            <td>@Mabooking.Areas.AdminPanel.Controllers.ShowRouteNumber.GetNumber(item.Routs_Id)</td>
            <td>@item.FltDate   </td>
            <td>@item.FltReg</td>
            <td>@item.FltCapWeight</td>
            <td><a href="/AdminPanel/FlightSchedule/Edit/@item.id">Edit</a> </td>
            <td><a href="/AdminPanel/FlightSchedule/Delete/@item.id"> Delete </a>  </td>
        </tr>
    }

</table>
<a class="one" href="/AdminPanel/FlightSchedule/Create">Add new</a>